<!DOCTYPE html>
<html>
<head>
  <title>KentoServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :custom_includes %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
